<h1>Listing Fortunes</h1>

<% unless notice.nil? %>
<div class="alert alert-info" role="alert"><%= notice %></div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th class="col-md-7">Quotation</th>
      <th class="col-md-2">Source</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @fortunes.each do |fortune| %>
    <tr>
      <td><%= fortune.quotation[0..64] %>…</td>
      <td><%= fortune.source %></td>
      <td><%= link_to 'Show', fortune,
                remote: true,
                data: { type: :json },
                class: "show btn btn-default btn-sm" %></td>
      <td><%= link_to 'Edit', edit_fortune_path(fortune),
                class: "edit btn btn-default btn-sm"  %></td>
      <td><%= link_to 'Destroy', fortune,
                method: :delete,
                remote: true,
                class: "btn btn-danger btn-sm" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'New Fortune', new_fortune_path, class: "btn btn-primary btn-lg" %></p>
